<h1 style="text-align: center;">Author details</h1>
<div style="text-align: center;">
    <h3>ID: {{author.id}}</h3>
    <h3>Name: {{author.username}}</h3>
    <h3>Number of books: {{author.nbBook}}</h3  >
</div>
